.my-font{
    font-size: 52px;
    color: black;
}


.my-button{
    padding: 18px 26px;
    font-weight: 700;
    font-size: 16px;
}


.margin{
    margin-top: 100px;
}


.cover{
    background: url("../images/download-background-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    width: 100%;
    height: 100%;
}


.cover-2{
    background: url("../images/accordian_car.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    width: 100%;
    height: 100%;
}

.color{
    color: red;
}